nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  border: 1px solid gray;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li:active {
  color: green;
}

nav ul li a {
  text-decoration: none;
}
